################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AppSmokeTesting/.vs
/AppSmokeTesting/obj
/AppSmokeTesting/bin/Debug/net7.0-windows
*.user
/AppSmokeTesting/bin/x64/Debug/net7.0-windows
/AppHealthCheck/obj
/AppHealthCheck/.vs
